{% extends "base.html" %}
{% block body %}
<form action="/checkscore" method="POST">
      <h2>The word is: {{sourceWord}}</h2>
      <input type="hidden" name="source_word" value="{{sourceWord}}"/>
      Word 1: <input type="text" name="word1"><br>
      Word 2: <input type="text" name="word2"><br>
      Word 3: <input type="text" name="word3"><br>
      Word 4: <input type="text" name="word4"><br>
      Word 5: <input type="text" name="word5"><br>
      Word 6: <input type="text" name="word6"><br>
      Word 7: <input type="text" name="word7"><br>
      <input type="submit" value="Submit">
</form>
{% endblock %}
